@model Feetup.Models.Seller
@{
    ViewBag.Title = "login";
    Layout = "~/Views/_LayoutPageCustomer.cshtml";
}


<!-- contact-form -->
<div class="message warning">
    <div class="inset">
        <div class="login-head">
            <h1>Seller Login</h1>
            <div class="alert-close"> </div>
        </div>
        @using (Html.BeginForm())
        {
            <li>
                @Html.EditorFor(x => x.SellerName, new { htmlAttributes = new { @placeholder = "Username" } })<a href="#" class=" icon user"></a>

                <span style="color:red">
                    @Html.ValidationMessageFor(x => x.SellerName)
                </span>
            </li>
            <div class="clear"> </div>
            <li>
                @Html.PasswordFor(x => x.SellerPassword, new { @placeholder = "Password" }) <a href="#" class="icon lock"></a>
                <span style="color:red">
                    @Html.ValidationMessageFor(x => x.SellerPassword)
                </span>
            </li>
            <div class="clear"> </div>
            <div class="submit">
                <input type="submit" value="Login">
                <h4><a href="Registration">Dont have Account ?</a></h4>
                <div class="clear">  </div>
            </div>
        }


        <p>@ViewBag.error</p>
    </div>
</div>

<div class="clear">

</div>

